.formulario-mensaje{
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
    padding-top: 1em;
    font-family: 'Akashi', sans-serif;
}
.gamer-form {
    background-color: #1D1D1B;
    border-radius: 10px;
    padding: 40px; /* Aumentamos el padding para más espacio */
    width: 550px;  /* Aumentamos un poco el ancho del formulario */
    box-shadow: 0 0 15px #DADADA, 0 0 30px #DADADA;
}

.input-group {
    position: relative;
    margin-bottom: 30px; /* Más margen entre los campos */
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 15px 20px; /* Más padding dentro de los inputs */
    background: transparent;
    border: none;
    border-bottom: 2px solid #DADADA;
    outline: none;
    color: #DADADA;
    font-size: 16px;
    border-radius: 5px; /* Opcional: bordes ligeramente redondeados */
    box-sizing: border-box;
}

.input-group textarea {
    height: 100px; /* Ajustar tamaño de textarea */
    resize: none;  /* Para evitar que los usuarios cambien el tamaño del textarea */
}

.input-group label {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #DADADA;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus ~ label,
.input-group textarea:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label,
.input-group textarea:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 10px;
    color: #FFAA00;
    font-size: 12px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #DADADA;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #312783;
    color: #ffff;
}
